<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>{{room.name}}</h1>

    <p>{{room.description}}</p>

    <div class="content-wrapper">
        <h3>Conversation</h3>
        <hr>

        {% for message in room_messages %}
            <div>
                <small>@{{message.user}} {{message.created|timesince}} ago</small>
                <p>{{message.body}}</p>
            </div>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Write your message" />
        </form>
    </div>
    {% endif %}
    
</body>
</html>